// @media only screen and(max-width:1023px){
//     .hero__card{
//         flex-direction: column;
//     } 
//     .hero__text h1 {
//         text-align: center;
//     }
//    }

@media only screen and (max-width:767px){
    .hero__card {
        // flex-direction: column-reverse;
        flex-direction: column;
    
    }
    // .hero__card {
    //     // justify-content: center;
    //     // align-items:center;
    //     // text-align: center;
    // }
    .hero__text h1 {
// text-align: center;
font-size: 28px;
max-width: 400px;
    }
    .hero__card p {
        // text-align: center;
        font-size: 15px;
        max-width: 300px;

            }
   .hero__card strong {
    font-size: 15px;
    }
    .hero__img img {
        max-width: 345px;
        height: 253px;
        padding: 0px 30px;
        margin-top: -200px;
    }
    .hero__page {
        max-width: 345px;
        flex-direction: column;
    }
    .hero__line {
        display: none;

        
    }
    .hero__goods h2 {
        max-width: 300px;
    }
   .Rectangle {
    display: none;
    // max-width: 700px;
    // width: 100%;
    // max-width: 1040px;
   }
   
    .why__card {
        flex-direction: column;

margin-top: -200px;       
 padding: 70px 30px;
 max-width:500px;
    }
    .why__ellepse{
        text-align: center;
        
    }
    .why__icon {
        flex-direction: column;
        // justify-content: center;
        // text-align: center;
        padding: 0px 30px;
    }
   
    
    
    
    .works h1 {
        max-width: 300px;
        font-size: 28px;
        padding: 30px 0px;

    }
    .works p {
        max-width: 344px;
        font-size: 15px;
    }
    .blog {
        max-width: 1239px;
        // margin-left: -250px;

    }
    .blog__scale {
        display: none;
    }
    .blog__crop {
        display: none;
    }
    .blog__card {
        max-width: 300px;
        justify-content: center;
    }
    .blog__card img {
        max-width: 300px;
        // margin-left: -10px;
    }
   .clients__text {
    flex-direction: column-reverse;
   }
   .paper img{
    max-width: 350px;
    height: 500px;
    flex-direction: column;
    // display: none;x  
    width: 300px;
    height: 500px;
    justify-content: center;
    align-items:center;
    text-align: center;
    // padding: -100px 10px;
    margin-left: -45px;
    margin-top: -26px;
   }
   .clients__group{
    height: 600px;
    max-width: 400px;
    width: 400px;
    margin-left: -40px;
   }
//    .paper h2{
// text-align: center;
//    }
   .clients__text h2 {
    flex-direction: column-reverse;
    display: none;
   }
   .steps__img img {
    display: none;
   }
   .steps__card {
    height: 176px;
    width:400px;
    max-width: 1200px;
    margin-left: -60px;
   }
   .steps__text p {
    width:350px;
    font-size: 15px;
    margin-left: -120px;

   }
   .steps__text h3 {
    width: 284px;
    font-size: 18px;
    // margin-top: -40px;
    margin-left: -40px;
    
   }
   .steps__line {
    display: none;
   }
   .steps__box {
    display: none;
   }
   
}
