.hero {
  max-width: 1400px;
}
.hero__text {
  width: 50%;
  width: 700px;
  padding: 190px 30px;
}
.hero__card {
  display: flex;
}
.hero__text h1 {
  font-size: 52px;
  line-height: 65px;
  font-weight: 600;
  font-family: "Exo 2", sans-serif;
  max-width: 600px;
}
.hero__text p {
  color: #363738;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  max-width: 500px;
}
.hero__text strong {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #363738;
  font-family: "PT Sans", sans-serif;
  max-width: 300px;
}
.hero__img {
  padding: 109px 0px;
}
.hero__img img {
  max-width: 600px;
}
.hero__page {
  position: relative;
  display: flex;
  padding: 40px 40px;
  gap: 100px;
  align-items: center;
  justify-content: center;
  margin: 0px 40px;
  background: #FFFFFF;
  box-shadow: 5px 10px 20px 5px #aaa;
  border-radius: 20px;
  max-width: 1440px;
}
.hero__goods h2 {
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  color: #363738;
  line-height: 27px;
  font-weight: 600;
  max-width: 400px;
}
.hero__goods p {
  font-family: "PT Sans", sans-serif;
  color: #6B6B6C;
  font-weight: 400;
  line-height: 24px;
  max-width: 250px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
}

@media only screen and (max-width: 767px) {
  .hero__card {
    flex-direction: column;
  }
  .hero__text h1 {
    font-size: 28px;
    max-width: 400px;
  }
  .hero__card p {
    font-size: 15px;
    max-width: 300px;
  }
  .hero__card strong {
    font-size: 15px;
  }
  .hero__img img {
    max-width: 345px;
    height: 253px;
    padding: 0px 30px;
    margin-top: -200px;
  }
  .hero__page {
    max-width: 345px;
    flex-direction: column;
  }
  .hero__line {
    display: none;
  }
  .hero__goods h2 {
    max-width: 300px;
  }
  .Rectangle {
    display: none;
  }
  .why__card {
    flex-direction: column;
    margin-top: -200px;
    padding: 70px 30px;
    max-width: 500px;
  }
  .why__ellepse {
    text-align: center;
  }
  .why__icon {
    flex-direction: column;
    padding: 0px 30px;
  }
  .works h1 {
    max-width: 300px;
    font-size: 28px;
    padding: 30px 0px;
  }
  .works p {
    max-width: 344px;
    font-size: 15px;
  }
  .blog {
    max-width: 1239px;
  }
  .blog__scale {
    display: none;
  }
  .blog__crop {
    display: none;
  }
  .blog__card {
    max-width: 300px;
    justify-content: center;
  }
  .blog__card img {
    max-width: 300px;
  }
  .clients__text {
    flex-direction: column-reverse;
  }
  .paper img {
    max-width: 350px;
    height: 500px;
    flex-direction: column;
    width: 300px;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -45px;
    margin-top: -26px;
  }
  .clients__group {
    height: 600px;
    max-width: 400px;
    width: 400px;
    margin-left: -40px;
  }
  .clients__text h2 {
    flex-direction: column-reverse;
    display: none;
  }
  .steps__img img {
    display: none;
  }
  .steps__card {
    height: 176px;
    width: 400px;
    max-width: 1200px;
    margin-left: -60px;
  }
  .steps__text p {
    width: 350px;
    font-size: 15px;
    margin-left: -120px;
  }
  .steps__text h3 {
    width: 284px;
    font-size: 18px;
    margin-left: -40px;
  }
  .steps__line {
    display: none;
  }
  .steps__box {
    display: none;
  }
}
.why {
  position: relative;
  max-width: 1440px;
}
.why__card {
  display: flex;
}
.why__group {
  padding: 67px 0px;
  height: 600px;
}
.why__img {
  max-width: 500px;
  position: absolute;
  margin-left: 220px;
  padding: 0px 10px;
}
.why__text {
  position: absolute;
  left: 50px;
  max-width: 540px;
}
.why__text h1 {
  position: absolute;
  z-index: 1;
  left: 100px;
  top: 200px;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  font-family: "Exo 2", sans-serif;
  color: #FFFFFF;
  max-width: 400px;
}
.why__card {
  display: flex;
  gap: 20px;
}
.why__ellipse {
  margin-left: 180px;
}
.why__icon {
  margin-top: 100px;
  display: flex;
  gap: 20px;
}
.why__lorem h2 {
  max-width: 327px;
}
.why__lorem p {
  max-width: 300px;
}

.works {
  padding: 50px 50px;
}

.works h1 {
  font-size: 48px;
  color: #363738;
  line-height: 60px;
  font-weight: 600;
  font-family: "Exo 2", sans-serif;
}

.works p {
  font-size: 16px;
  color: #6B6B6C;
  line-height: 24px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  max-width: 550px;
}

.blog {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.blog__card {
  width: 393px;
  height: 439px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 10px 10px 0px #aaa;
}
.blog__scale {
  width: 393px;
  height: 439px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 10px 10px 0px #aaa;
}
.blog__crop {
  width: 393px;
  height: 439px;
  border-radius: 10px;
  background: #FFFFFF;
  box-shadow: 0px 10px 10px 0px #aaa;
}
.blog__text {
  padding: 34px 30px;
}
.blog__text h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: #363738;
  font-family: "Exo 2", sans-serif;
}
.blog__text p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
  color: #6B6B6C;
  font-family: "PT Sans", sans-serif;
}
.blog__text strong {
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  color: #363738;
  font-family: "PT Sans", sans-serif;
}

.clients {
  padding: 200px 50px;
}
.clients__group {
  background: #0B7572;
  display: flex;
}
.clients__text {
  width: 35%;
  text-align: center;
  margin-top: 100px;
}
.clients__text h2 {
  font-family: "Exo 2", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #FFFFFF;
}

.paper {
  padding: 80px 65px;
}

.paper img {
  width: 652px;
}

.Rectangle {
  max-width: 1040px;
}

.steps {
  padding: 70px;
  max-width: 1200px;
}
.steps__card {
  max-width: 1220px;
  height: 245px;
  background: hsl(0, 0%, 100%);
  box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.1215686275);
  margin-top: 40px;
  display: flex;
  gap: 50px;
  padding: 20px 100px;
}
.steps__text {
  margin-top: 13px;
}
.steps__text h3 {
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: #363738;
}
.steps__text p {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
}
.steps__logo {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: px 200px;
  margin-top: 100px;
  width: 100%;
  margin-left: 50px;
}
.steps__box {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: px 200px;
  margin-top: 100px;
  width: 100%;
  margin-left: 25px;
}
.steps__about h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
  margin-top: 100px;
  margin-left: 50px;
}
.steps__about p {
  color: #6B6B6C;
}

.steps .h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
}

.team {
  max-width: 1400px;
  display: flex;
}
.team__page {
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}
.team__group {
  display: flex;
  width: 600px;
  height: 210px;
  border-radius: 10px;
  box-shadow: 1px 5px 10px 5px #aaa;
  margin-top: 40px;
  display: flex;
  gap: 30px;
}
.team__logo {
  display: flex;
  gap: 25px;
  margin-top: 30px;
}
.team__svg {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding: 10px 10px;
}

.text {
  margin-top: 10px;
}

.text p {
  color: #6B6B6C;
}

.text h1 {
  font-family: "Exo 2", sans-serif;
}

.last__card {
  display: flex;
  gap: 200px;
  margin-top: 100px;
  margin-left: 50px;
  justify-content: center;
}
.last__text h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
}
.last__text {
  margin-top: 100px;
  width: 40%;
  margin-left: 30px;
}
.last__vedio {
  margin-left: 50px;
  margin-top: 100px;
}/*# sourceMappingURL=main.css.map */